@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Roboto+Slab|Source+Sans+Pro|Work+Sans');

body{
  font-family: 'Noto Serif JP', sans-serif;
}
p{
  font-size: 2vw;
  padding-left: 4em;
  padding-right: 4em;
  line-height: 1.5;
  padding-top: 0.5em;
}
.header{
height: 10vh;
margin: 0;
background-color: black;
padding: 0.5em;
}
h1{
font-family: 'Work Sans', sans-serif;
font-size: 2.5vw;
color: white;
text-align: center;
/*color: rgb(255, 215, 0);*/
letter-spacing: 4px;
padding: auto;
}
h2{
  /*font-family: 'Source Sans Pro', sans-serif;*/
font-family: 'Roboto Slab', serif;
  font-size: 2.8vw;
  text-align: center;
  padding:0.8em;

  margin: 0;


}

img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  Height: 50px;
margin-top: 40px;
}






.intro{
  padding-top: 2vh;
  height: 90vh;
  background-color: rgb(255, 215, 0);
}
.menu{
  height: 90vh;
  display: flex;

  background-image: url("../image/fond-menu2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
#pastille {
  display: inline-block;
  width: 280px;
  height: 280px;
  margin: 20vh auto;
  padding: 20px;
}
img#pastille:hover{
  width: 300px;
  height: 300px;
}
.footer{
  height: 10vh;

  background-color: rgb(255, 215, 0);

}
ul{list-style-type: none;
}
li{
  display: inline-block;

padding-top: 20px;
padding-bottom: 10px;
margin-left: 20px;
}
a{text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
font-size: 0.8em;


}
a:hover{
    text-decoration: underline;
    color: black;
    font-family: 'Work Sans', sans-serif;
font-size: 0.9em;

}
