@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Roboto+Slab|Source+Sans+Pro|Work+Sans');

body{
  font-family: 'Noto Serif JP', sans-serif;
}
p{
  font-size: 2vw;
  padding-left: 4em;
  padding-right: 4em;
  line-height: 1.5;
  padding-top: 0.5em;
}
.header{
height: 10vh;
margin: 0;
background-color: black;
padding: 0.5em;
}
h1{
font-family: 'Work Sans', sans-serif;
font-size: 2.5vw;
color: white;
text-align: center;
/*color: rgb(255, 215, 0);*/
letter-spacing: 4px;
padding: auto;
}
h2{
  /*font-family: 'Source Sans Pro', sans-serif;*/
font-family: 'Roboto Slab', serif;
  font-size: 2.8vw;
  text-align: center;
  padding:0.8em;

  margin: 0;

}
img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  Height: 50px;
margin-top: 40px;
}

ul{list-style-type: none;
}
a{
  text-decoration: none;
}

.intro{
  padding-top: 2vh;
  height: 90vh;
  background-color: rgb(255, 215, 0);
}
.menu{
  height: 100vh;
}
.footer{}
