@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Roboto+Slab|Source+Sans+Pro|Work+Sans');

body{
  font-family: 'Noto Serif JP', sans-serif;
}

h1{
  font-family: 'Work Sans', sans-serif;
font-size: 2.7em;
padding: 1em;
margin: 0;
text-align: center;
background-color: rgb(255, 215, 0);
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  text-align: center;
  padding:0.7em;
  margin: 0;
  

}
.output {
    background: #eee;
    position: relative;
}
video{
  padding-left: 50px;
  padding-bottom: 50px;

}
ul{list-style-type: none;
}
a{
  text-decoration: none;
}
.intro{
  height: 80vh;
  background-color: rgb(255, 215, 0);
}
